body {
    background: #fdf8e2;
    margin: 0;
    font-family: 'Bebas Neue', cursive;;
}

header {
    width: 100%;
    height: 60px;
    background: #1d0424;
    text-align: center;
    padding: 0;
    margin: 0 ;
}

header nav {

}

body header h1 {
    color: blueviolet;
    margin: 0;
}

#firstheading {
    text-align: center;
}