body {
    position: relative;
    background: #fdf8e2;
    margin: 0;
    font-family: 'Bebas Neue', cursive;;
    height: 220vh;
}

header {
    position:fixed;
    width: 100%;
    height: 100px;
    background: #1d0424;
    padding: 0;
    top: 0px;
}

header nav {
    position: absolute;
    bottom: 0px;
    left: 46.604%;
}

nav a {
    color: rebeccapurple;
}

nav a:hover {
    color: blueviolet;
}

body header h1 {
    color: blueviolet;
    text-align: center;
    margin-right: 115px;
}

#firstheading {
    text-align: center;
    margin-top: 120px;
}

#theDBLogo {
    float: left;
    max-width: 90px;
    max-height: 90px
}

.sections {
    text-align: center;
    margin: auto;
}

h1, h2 {
    color: #410151;
}

#aboutMe h2 {
    margin: 0 0 0 0;
}

#bottomOfPage {
    position: fixed;
    height: 70px;
    background-color: #1d0424;
    width: 100%;
    height: 70px;
    bottom: 0px;
}

#picOfDan {
    position: static;
    margin-top: 50px;
    height: 600px;
}

.bubble {
    width: 50%;
    background-color: #fecc7c;
    border: 5px;
    border-radius: 10px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.bubble p {
    color: #410151;
    font-size: 18px;
    text-indent: 1.75em;
    
}
